<div class="wrapper">
  <h1>Tic Tac Toe</h1>
  <h2>X is you, O is the computer</h2>
  <p class="turn">
    Now it's the <span>{{ turn }}</span> turn
  </p>
  <p *ngIf="winner" class="game-over">
    Game over!
    {{
      winner === "O" || winner === "X"
        ? "The winner is the " + winner + " player"
        : "It's draw"
    }}
  </p>

  <div class="grid">
    <div
      *ngFor="let item of board; let i = index"
      [id]="i"
      (click)="makeAMove($event.path[0])"
    >
      {{ item }}
    </div>
  </div>
  <button type="button" (click)="clearBoard()">Start new game</button>
</div>
